input#search-term {
    font-size: 1.1em;
    margin-right: auto;
    margin-left: auto;
    text-indent: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px 16px;
}

form {
    text-align: left;
    width: 100%;
}

.search-bar {
    display: flex;
    position: relative;
    margin: 24px 8px 12px;
}

.search-icon {
    position: absolute;
    display: inline-block;
    left: 6px;
    top: 4px;
    margin: 4px 6px 0px 0px;
}