.ErrorBoundary__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #8A80BB;
  box-shadow: inset -10px -10px 60px rgb(116, 107, 165); 
  height: 100vh;
  text-align: center;
}

.ErrorBoundary__div {
  color: black;
  padding: 30px;
}

.ErrorBoundary__subtext {
  display: block;
  font-size: 16px;
  padding-bottom: 20px;
}

.ErrorBoundary__astronaut {
  width: 67%;
  max-width: 500px;
}

.ErrorBoundary_headline {
  margin: 0px;
  font-size: 36px;
  font-weight: bolder;
}

.ErrorBoundary__home-btn {
  font-size: 24px;
  background-color: gb(7, 7, 31);
  color: white;
  padding: 6px 12px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  display: block;
}

.attribution {
  font-size: 8px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: gray;
}