ul.tags {
    margin: 6px;
}

.div-tags, ul.tags {
    display: flex;
    align-items: center;
}


li.tags {
    background-color: rgb(233, 245, 255);
    border-radius: 4px;
    font-size: 0.95em;
    margin-right: 8px;
    border: 1px solid #ddd;
    padding: 4px 8px;
}


/*--CSS FOR TABLETS--*/

@media only screen and (min-width: 600px) {
    li.tags {
        font-size: 1em;
    }
}