fieldset {
    border: none;
}

label:not(:first-of-type) {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input, textarea {
    border: 1px solid #aaa;
    width: 100%;
    border-radius: 4px;
    padding: 4px 8px;
}

textarea:last-of-type {
    margin-bottom: 14px;
}

.question-form {
    padding: 0px 10px 10px 10px;
    text-align: left;
}

#tagConstraint {
    font-size: .9em;
    margin-bottom: 2px;
}