@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin", "Open Sans", sans-serif;
    font-size: .95em;    
    color: #444;
    text-align: center;
  }

  h1, h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;  
}

h3 {
    font-style: italic;
    color: rgb(137, 140, 146);
}

.error {
    /* font-size: 16px; */
    /* font-weight: bold; */
    display: flex;
    color: white;
    background-color: #f44336;
    padding: 8px 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    align-items: center;
}

.back {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.back:visited {
    color: inherit;
}

.back-arrow {
    font-size: 16px;
}

label {
    margin-bottom: 2px;
}

.error-icon {
    padding-right: 4px;
}


