.headline {
    background-color: #eee;
    padding: 0px;
}

.btn-ask-question {
    background-color: #1171ba;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 4px;
    margin: 40px 0px 16px;
    padding: 8px 16px;
}

.tabs ul {
    display: flex;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    background-color: white;
}

.active {
    border-bottom: 5px solid orange;

}

button {
    border: none;
    background-color: inherit;
}

.registration-msg {
    position: absolute;
    width: 100%;
    font-size: 14px;
    color: rgb(4, 90, 4);
    background-color: rgb(162, 194, 144);
    line-height: 2.25;
    margin: 0px;
    animation-delay: 8s;
    animation-duration: 2s;
    animation-name: slideout;
}

@keyframes slideout {
    from {
        margin-left:0%;
        width: 100%;
    }

    to {
        margin-left: 100%;
        width: 300%;
    }
}
