.headline {
    background-color: #eee;
    padding: 0px;
}

.tabs ul {
    display: flex;
    margin-bottom: 16px;
    background-color: rgb(188, 190, 207);
    border-radius: 4px;
    padding-left: 6px;
}

li {
    padding: 0;
}

li .tab {
    font-size: 1em;
    color: rgb(3, 3, 14);
    padding: 12px;
    padding-top: 18px;
    padding-left: 14px;
    text-transform: uppercase;

}

.active {
    background-color: white;
    border-top: 6px solid rgb(188, 190, 207);
    border-right: 1px solid rgb(188, 190, 207);
    border-left: 1px solid rgb(188, 190, 207);
    border-radius: 26px 4px 0px 0px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px #8f8f8f;

}

button {
    border: none;
    background-color: inherit;
}

.registration-msg {
    position: absolute;
    width: 100%;
    font-size: 14px;
    color: rgb(4, 90, 4);
    background-color: rgb(162, 194, 144);
    line-height: 2.25;
    margin: 0px;
    animation-delay: 8s;
    animation-duration: 2s;
    animation-name: slideout;
}

@keyframes slideout {
    from {
        margin-left:0%;
        width: 100%;
    }

    to {
        margin-left: 100%;
        width: 300%;
    }
}

a {
    text-decoration: none;
}


/*--CSS FOR TABLETS--*/

@media only screen and (min-width: 600px) {

}