hr {
    margin: 16px 0px;
}

.title {
    font-weight: bold;
    /* font-size: 18px; */
}

.question {
    margin: 6px 0px;
}

.question-details {
    display: block;
    margin-bottom: 6px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
}

.qa-item {
    padding: 0px 20px;
    text-align: left;
    align-content: center;
}

.stats {
    display: flex;
    align-items: center;
}

.answers, .votes {
    border-radius: 4px;
    font-size: 14px;
    margin-right: 8px;
    border: 1px solid #ddd;
    padding: 4px 8px;
}

a {
    font-weight: normal;
    /* color: inherit; */
    /* text-decoration: inherit; */
}

.QuestionListItem__author-date {
    font-size: 12px;
    /* text-align: right; */
}


